<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Covid Tracker</title>
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <body>
    <%- include('./includes/navigation.ejs') %>
    <ul>
      <li>
        <a href="/about" class="btn">About</a>
        <br />
      </li>
      <br />
    </ul>
  </body>
</html>
