<!DOCTYPE html>
<html>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <form action="/deaths" method="POST">
        <p>You are authorized to enter data for <%= countryData.name %></p>
        <p>New deaths today</p>
        <input type="text" name="newDeaths" id="newDeaths" value="" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit">Add</button>
      </form>
    </main>
  </body>
  </html>
</html>
